{% load helpers %}
<section>
    <h3 class="border-bottom fs-2 pb-3">{{ category_data.title|split_by_colon|join:': ' }}</h3>
    {% with form=forms_by_category|get_key_value_or_empty_dict:category %}
    {% for field in form %}
    {% if field.field.metadata.refers_to_table_name %}
    {% with field_metadata=one_to_one_field_metadata|get_key_value_or_empty_dict:field.name %}
    {% include 'editor/foreign_key_fields/one_to_one_field_placeholder.html' %}
    {% endwith %}
    {% elif field.field.metadata.created_from_table_name %}
    {% with field_metadata=one_to_many_field_metadata|get_key_value_or_empty_dict:field.name %}
    {% include 'editor/foreign_key_fields/one_to_many_field_placeholder.html' %}
    {% endwith %}
    {% elif field.field.widget.input_type == 'checkbox' %}
    {% include 'editor/field_templates/checkbox_field_wrapper.html' %}
    {% else %}
    {% include 'editor/field_templates/field_template.html' %}
    {% endif %}
    {% endfor %}
    {% endwith %}
</section>