{% load helpers %}

{# List item link #}
{% block list_item_link %}
{% include 'editor/toc_untabbed/active_editor_toc_list_item_link.html' %}
{% endblock %}

{# List item descendents #}
{% if list_item_data.descendents %}
<ul class="nav flex-column list-unstyled ps-4">
    {% for li_descendent, li_descendent_data in list_item_data.descendents.items %}
    {% with list_item=li_descendent list_item_data=li_descendent_data %}
    {% block descendent_list_item %}
    {% include 'editor/toc_untabbed/active_editor_toc_list_item.html' %}
    {% endblock %}
    {% endwith %}
    {% endfor %}
</ul>
{% endif %}
