SECRET_KEY=#your_secret_key_here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_ENGINE=django.db.backends.sqlite3
DATABASE_NAME=./db.sqlite3
API_URL=#http://
USE_MOCK_API=True
# Base URL of the SAT Builder API.
SAT_BUILDER_API_URL=#http://

# CI/CD and deployment settings
DOCKER_NAMESPACE=huankaichen
GUI_SERVICE_ID=gui
GUI_NAME=GUI
GUI_VERSION=latest
GUI_PORT=8080
