{% extends 'dialog_base.html' %}

{% block dialog_header_content %}
<span class="fw-semibold">
    {{ dialog_header_text|default:'Edit Instance Type' }}
</span>
{% endblock dialog_header_content %}

{% block dialog_body_content %}
<p>Supported instance types and specifications (CPU, RAM, storage).</p>
<div class="instance-type-form pb-4">
    {% for field in form %}
    {% if field == form.DELETE %}
    <div class="d-none">
        {{ field }}
    </div>
    {% else %}
    {% include 'editor/field_templates/field_template.html' %}
    {% endif %}
    {% endfor %}
</div>
<div class="row gy-3">
    <div class="col-lg-6">
        <button class="btn btn-light cancel-btn w-100" type="button">Cancel</button>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-primary confirm-btn w-100" type="button">Confirm Changes</button>
        <div class="form-text text-sm-end text-center">You can commit the changes after closing this dialog and clicking "Save Changes".</div>
    </div>
</div>
{% endblock dialog_body_content %}
