{% extends 'dialog_base.html' %}

{% block dialog_header_content %}
Delete  {{ registration_type_name_plural|title }}
{% endblock dialog_header_content %}

{% block dialog_body_content %}
<form method="dialog">
    <p>Are you sure you want to delete these {{ registration_type_name_plural }}?</p>
    <div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-stretch justify-content-sm-end justify-content-stretch column-gap-2 row-gap-3">
        <button class="btn btn-light flex-grow-1" value="cancel" formmethod="dialog">Cancel</button>
        <div class="d-flex flex-column row-gap-2">
            <button class="btn btn-danger" value="confirm">Delete selected (<span class="num-to-delete"></span>)</button>
            <div class="form-text text-danger text-sm-end text-center">This action cannot be undone.</div>
        </div>
    </div>
</form>
{% endblock dialog_body_content %}
