{% extends 'dialog_base.html' %}

{% block dialog_header_content %}
<div>
    Delete {{ registration_type_name_singular|title }} <span class="dialog-id-to-delete"></span>
</div>
{% endblock dialog_header_content %}

{% block dialog_body_content %}
<form method="dialog">
    <p>Are you sure you want to delete this {{ registration_type_name_singular }}?</p>
    <div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-stretch justify-content-sm-stretch justify-content-stretch column-gap-2 row-gap-3">
        <button class="btn btn-light flex-grow-1" value="cancel" formmethod="dialog">Cancel</button>
        <div class="d-flex flex-column row-gap-2">
            <button class="btn btn-danger confirm-btn">Delete</button>
            <div class="form-text text-danger text-sm-end text-center">This action cannot be undone.</div>
        </div>
    </div>
</form>
{% endblock dialog_body_content %}
