{% extends 'editor/dialogs/wizard_dialog_base.html' %}
{% load humanise_swch %}

{% block dialog_header_content %}
<div>
    {{ resource_type|humanise_resource_type|title }} {{ resource_id }}
</div>
{% endblock dialog_header_content %}

{% block w_dialog_body_content %}
<form
    {% if form_id %}id="{{ form_id }}"{% endif %}
    method="POST"
    action="{{ update_resource_url }}">
    {% csrf_token %}
    {% for field in form %}
    {% if field.field.widget.input_type == 'checkbox' %}
    {% include 'editor/field_templates/checkbox_field_wrapper.html' %}
    {% else %}
    {% include 'editor/field_templates/field_template.html' %}
    {% endif %}
    {% endfor %}
    <div class="pt-4">
        <button class="btn btn-primary fw-semibold" type="submit">Update</button>
    </div>
</form>
{% endblock w_dialog_body_content %}
