{% if field.is_hidden %}
{{ field }}
{% else %}
<div class="{{ field_wrapper_classes|default:'py-4' }}">
    <div class="label-wrapper">
        <label for="{{ field.auto_id }}" class="{{ label_classes|default:'fw-semibold' }}">{{ field.label }}</label>
        <span class="status-indicator ms-1" data-for="{{ field.auto_id }}"></span>
    </div>
    {{ field }}
    {% include 'editor/field_templates/field_help_text.html' %}
    {% include 'editor/field_templates/field_invalid_feedback.html' %}
</div>
{% endif %}
