<li class="list-group-item">
    <label
        for="{{ field.auto_id|default:'__field_id__' }}-{{ counter|default:'__counter__' }}"
        class="visually-hidden">{{ field.label|default:'__field_label__' }} {{ counter|default:'__counter__' }}</label>
    <div class="d-flex gap-2">
        <input
            type="text"
            id="{{ field.auto_id|default:'__field_id__' }}-{{ counter|default:'__counter__' }}"
            class="form-control">
        <button
            class="btn btn-outline-danger delete-btn"
            type="button"
            aria-label="Delete"
            title="Delete">
            <i class="bi bi-trash3-fill"></i>
        </button>
    </div>
</li>