{% extends 'dialog_base.html' %}
{% load humanise_swch %}

{% block dialog_header_content %}
<div>
    Delete {{ resource_type|humanise_resource_type|title }} <span class="dialog-id-to-delete">{{ resource_id }}</span>
</div>
{% endblock dialog_header_content %}

{% block dialog_body_content %}
<form method="POST" action="{% url resource_deletion_reverse resource_id %}">
    <p>Are you sure you want to delete this {{ resource_type|humanise_resource_type }}?</p>
    {% csrf_token %}
    {{ form }}
    <div class="row align-items-lg-start align-items-stretch g-2">
        <div class="col-sm-6">
            <button class="btn btn-light w-100" type="button" value="cancel">Cancel</button>
        </div>
        <div class="d-flex flex-column col-sm-6 row-gap-2">
            <button class="btn btn-danger confirm-btn fw-semibold" type="submit">Delete</button>
            <div class="form-text text-danger text-center">This action cannot be undone.</div>
        </div>
    </div>
</form>
{% endblock dialog_body_content %}
