{% extends 'dialog_base.html' %}
{% load humanise_terms %}

{% block dialog_header_content %}
Delete {{ resource_type|humanise_resource_type_plural|title }}
{% endblock dialog_header_content %}

{% block dialog_body_content %}
<form method="dialog">
    <p>Are you sure you want to delete these {{ resource_type|humanise_resource_type_plural }}?</p>
    <div class="row align-items-lg-start align-items-stretch g-2">
        <div class="col-sm-6">
            <button class="btn btn-light w-100" value="cancel" formmethod="dialog">Cancel</button>
        </div>
        <div class="d-flex flex-column col-sm-6 row-gap-2">
            <button class="btn btn-danger fw-semibold" type="submit">Delete selected (<span class="num-to-delete"></span>)</button>
            <div class="form-text text-danger text-center">This action cannot be undone.</div>
        </div>
    </div>
</form>
{% endblock dialog_body_content %}
