{% extends 'dialog_base.html' %}

{% block dialog_header_content %}
<div>
    New {{ resource_type_readable|title }}
</div>
{% endblock dialog_header_content %}

{% block dialog_body_content %}
<form method="POST" action="{% url new_resource_reverse %}">
    {% csrf_token %}
    {% for field in form %}
    {% if field.field.widget.input_type == 'checkbox' %}
    {% include 'editor/field_templates/checkbox_field_wrapper.html' %}
    {% else %}
    {% include 'editor/field_templates/field_template.html' %}
    {% endif %}
    {% endfor %}
    <div class="pt-4">
        <button class="btn btn-primary" type="submit">Register</button>
    </div>
</form>
{% endblock dialog_body_content %}
