{% load helpers %}

{# List item link #}
<li class="nav-item {{ nav_item_extra_classes|default:'' }}" role="presentation">
{% block list_item_link %}
{% include 'editor/toc_tabbed/active_editor_toc_list_item_link.html' %}
{% endblock %}
</li>

{# List item descendents #}
{% if list_item_data.descendents %}
{% for li_descendent, li_descendent_data in list_item_data.descendents.items %}
{% with list_item=li_descendent list_item_data=li_descendent_data nav_item_extra_classes='ps-4' %}
{% block descendent_list_item %}
{% include 'editor/toc_tabbed/active_editor_toc_list_item.html' %}
{% endblock %}
{% endwith %}
{% endfor %}
{% endif %}
