{% extends 'base.html' %}
{% load static %}
{% load helpers %}
{% block scripts %}
{{ toc_url|json_script:'toc_url' }}
{{ tabbed_form_url|json_script:'tabbed_form_url' }}
{{ initial_category|json_script:'initial_category' }}
{{ toast_template|json_script:'toast-template' }}
<script type="module" src="{% static 'editor/editor.js' %}"></script>
{% block extra_scripts %}
{% endblock extra_scripts %}
{% endblock scripts %}

{% block content %}
<div class="editor-layout">
    <h1 class="visually-hidden">
        {{ resource_type_readable.title }} {{ resource_id }}
    </h1>
    <div class="editor-layout__content">
        {# TOC #}
        <div class="editor-layout__toc">
            {% include 'editor/placeholders/toc_placeholder.html' %}
        </div>
        {# Editor main content #}
        <div class="editor-layout__body">
            {% block editor_main_content %}
            {% include 'editor/placeholders/fields_placeholder.html' %}
            {% endblock editor_main_content %}
        </div>
    </div>
</div>
<div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3">

</div>
{% endblock content %}
