{% extends 'base.html' %}
{% load static %}
{% block scripts %}
<script type="module" src="{% static 'editor/editor.js' %}"></script>
{% block extra_scripts %}
{% endblock extra_scripts %}
{% endblock scripts %}
{% block content %}
<div class="editor-layout">
    <div class="editor-layout__content">
        {# Editor header #}
        <div class="editor-layout__header">
            {% block top_section %}
            <hgroup class="d-flex flex-column row-gap-1">
                <h1 class="mb-0">{{ main_heading }}</h1>
                <p class="fs-6 text-body-secondary">
                    {% url editor_overview_url_reverse_base resource_id as overview_url %}
                    <a href="{{ overview_url }}" class="icon-link icon-link-hover link-secondary link-underline-opacity-25 link-underline-opacity-75-hover">
                        {{ main_subheading }} {{ resource_id }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" aria-hidden="true">
                          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </a>
                </p>
            </hgroup>
            <p class="form-text">Required fields are marked with <span class="text-danger">*</span></p>
            {% endblock top_section %}
        </div>
        {# TOC #}
        <div class="editor-layout__toc">
            <ul class="nav nav-pills flex-column list-unstyled editor-toc sticky-top">
                {% for list_item, list_item_data in toc_list_items.items %}
                <li class="nav-item">
                    {% block list_item %}
                    {% include 'editor/toc/active_editor_toc_list_item.html' %}
                    {% endblock list_item %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {# Editor main content #}
        <div class="editor-layout__body">
            {% block editor_main_content %}
            <form id="editor-form" action="{{ request.get_full_path }}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                {% block field %}
                {% if field.field.widget.input_type == 'checkbox' %}
                {% include 'editor/field_templates/checkbox_field_wrapper.html' %}
                {% else %}
                {% include 'editor/field_templates/field_template.html' %}
                {% endif %}
                {% endblock field %}
                {% endfor %}
                <div class="d-flex flex-sm-row flex-column align-items-sm-baseline align-items-stretch justify-content-between row-gap-3 my-4">
                    {% if prev_list_item %}
                    <div class="d-flex flex-column align-items-sm-start align-items-stretch row-gap-2">
                        <a href="{% url editor_url_reverse_base resource_id %}?category={{ prev_list_item|urlencode }}" class="btn btn-light">
                        Previous Step
                        </a>
                        <div class="form-text text-center">{{ prev_list_item_title }}</div>
                    </div>
                    {% endif %}
                    {% if not prev_list_item %}
                    <div class="d-flex flex-column align-items-sm-start align-items-stretch row-gap-2">
                    {% else %}
                    <div class="d-flex flex-column align-items-sm-end align-items-stretch row-gap-2">
                    {% endif %}
                        <button id="editor-submit-button" type="submit" class="btn btn-primary">
                            {% include 'editor/util_templates/submit_button_content.html' %}
                        </button>
                        {% if next_list_item %}
                        <div class="form-text text-center">{{ next_list_item_title }}</div>
                        {% endif %}
                        {% include 'editor/util_templates/form_errors_list.html' %}
                    </div>
                </div>
            </form>
            {% endblock editor_main_content %}
        </div>
    </div>
</div>
{% if formsets %}
<div id="formset-tables" class="d-none">
    {% block formset_tables %}
    {% for formset_prefix, formset in formset_tables.items %}
    <table
        class="formset-template-table"
        data-formset-prefix="{{ formset_prefix }}">
        <tbody>
            {% include 'editor/util_templates/formset_table_row_template.html' with form=formset.empty_form %}
        </tbody>
    </table>
    {% endfor %}
    {% endblock formset_tables %}
</div>
{% endif %}
{% endblock content %}
