{% extends 'editor/editor_base.html' %}
{% load static %}
{% load helpers %}
{% load humanise_swch %}
{% block extra_scripts %}
{{ toc_url|json_script:'toc_url' }}
{{ tabbed_form_url|json_script:'tabbed_form_url' }}
{{ initial_category|json_script:'initial_category' }}
<script type="module" src="{% static 'editor/editor.js' %}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.bootstrap5.min.css">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js"></script>
{% endblock extra_scripts %}

{% block top_section %}
<h1 class="visually-hidden">
    {{ resource_type|humanise_resource_type|title }} {{ resource_id }}
</h1>
{% endblock top_section %}

{% block toc %}
{% include 'editor/toc_as_tab_buttons/toc_base.html' %}
{% endblock toc %}

{% block main_section %}
{% include 'editor/editor_tab.html' %}
{% endblock main_section %}

{% block extra_section %}
<div id="toast-container" class="toast-container position-fixed top-0 start-0 end-0 p-3 mx-auto"></div>
{% endblock extra_section %}]
