<ul class="nav flex-column">
    <li class="nav-item">
        Configuration
        <ul class="nav flex-column py-1">
            {% for list_item in toc_list_items %}
            <li class="nav-item">
                <a
                    href="{% url request.resolver_match.url_name list_item %}"
                    class="nav-link{% if current_field_format == list_item %} active{% endif %} py-1">{{ list_item }}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    <li>Review & Submit</li>
</ul>