{% extends 'editor/editor_base.html' %}
{% block scripts %}{% endblock scripts %}
{% block top_section %}
<h1>{{ title }}</h1>
<p class="lead">{% block lead_text %}{% endblock lead_text %}</p>
<p class="form-text">Required fields are marked with <span class="text-danger">*</span></p>
{% endblock top_section %}
{# TOC #}
{% block high_level_toc_list_items %}
<li class="nav-item">
    <a href="{% url editor_registration_list_url_reverse %}" class="nav-link">Back to {{ registration_type_name_plural|title }}</a>
</li>
{% endblock high_level_toc_list_items %}
{% block list_item %}
{% include 'editor/toc/inactive_editor_toc_list_item.html' %}
{% endblock list_item %}
{# Editor main content #}
{% block editor_main_content %}
<form id="registration-form" action="{{ request.path }}" method="POST">
    {% csrf_token %}
    {% for field in form %}
    {% if field.field.widget.input_type == 'checkbox' %}
    {% include 'editor/field_templates/checkbox_field_wrapper.html' %}
    {% else %}
    {% include 'editor/field_templates/field_template.html' %}
    {% endif %}
    {% endfor %}
    <div class="pt-4">
        <button class="btn btn-primary" type="submit">Start</button>
    </div>
</form>
{% endblock editor_main_content %}
