{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center gx-md-5">
    {# High-level TOC #}
    <div class="col-xl-3">
        {% block high_level_toc %}
        <ul class="nav flex-column list-unstyled">
            <li class="nav-item">
                <a href="#" class="nav-link pt-0">Overview</a>
            </li>
        </ul>
        {% endblock high_level_toc %}
    </div>
    {# Editor main content #}
    <div class="col-xl-6">
        {% block editor_main_content %}
        <hgroup class="d-flex flex-column-reverse row-gap-1">
            <h1>{{ main_heading }}</h1>
            <p class="fs-6 text-body-secondary mb-0">{{ main_subheading }}</p>
        </hgroup>
        <p class="form-text">Required fields are marked with <span class="text-danger">*</span></p>
        <form id="editor-form" action="{{ request.path }}" method="POST">
            {% csrf_token %}
            {% for field in form %}
            {% if field.field.widget.input_type == 'checkbox' %}
            {% include 'editor/field_templates/checkbox_field_wrapper.html' %}
            {% else %}
            {% include 'editor/field_templates/field_template.html' %}
            {% endif %}
            {% endfor %}
            <button type="submit" class="d-none btn btn-primary mb-3">
                <span class="d-none loading-text">
                    <span class="spinner-border spinner-border-sm me-2" role="status"></span>
                    Registering
                </span>
                <span>{% block submit_text %}Register{% endblock submit_text %}</span>
            </button>
            <div class="d-flex align-items-center justify-content-between pt-4">
                {% if prev_list_item %}
                <a href="{% url editor_url_reverse_base registration_id prev_list_item %}" class="btn btn-light">
                    Previous Step
                </a>
                {% endif %}
                {% if next_list_item %}
                <a href="{% url editor_url_reverse_base registration_id next_list_item %}" class="btn btn-primary">
                    Next Step
                </a>
                {% endif %}
                {% if not next_list_item %}
                <a href="#" class="btn btn-primary">
                    Finish & Review
                </a>
                {% endif %}
            </div>
            <ul id="all-errors-list" class="d-none text-danger list-unstyled"></ul>
        </form>
        {% endblock editor_main_content %}
    </div>
    {# In-editor TOC #}
    <div class="col-xl-3">
        {% block editor_toc %}
        {% include 'editor/toc/editor_toc_base.html' %}
        {% endblock editor_toc %}
    </div>
</div>
{% endblock content %}