{% load static %}
{% load helpers %}
<form id="editor-form" action="{{ editor_form_url }}" method="POST">
    {% csrf_token %}
    <div class="tab-content" id="editor-tab-content">
        {% regroup form|dictsort:'field.category' by field.category as field_groups %}
        {% for category in category_names %}
        {% with category_data=toc_list_items|get_key_value_or_empty_dict:category %}
        {% with category_id_base=category.lower|kebab_case %}
        {% include 'editor/editor_tab_pane_router.html' %}
        {% endwith %}
        {% endwith %}
        {% endfor %}
    </div>
</form>
