{% extends 'editor/editor_base.html' %}
{% load static %}
{% load helpers %}
{% load humanise_swch %}
{% block extra_scripts %}
{{ toc_url|json_script:'toc_url' }}
{{ tabbed_form_url|json_script:'tabbed_form_url' }}
{{ initial_category|json_script:'initial_category' }}
<script type="module" src="{% static 'editor/editor.js' %}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.bootstrap5.min.css">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js"></script>
{% endblock extra_scripts %}

{% block top_section %}
{% endblock top_section %}

{% block toc %}
<div class="bg-light rounded h-100 px-4">
    <div class="sticky-top py-4">
        <div class="d-flex align-items-center column-gap-2 ps-3">
            <div>
                <h1 class="fs-6">
                    {{ main_heading }}
                </h1>
                {% url editor_overview_reverse_base resource_id as overview_url %}
                <a href="{{ overview_url }}" class="icon-link icon-link-hover link-secondary link-underline-opacity-25 link-underline-opacity-75-hover">
                    Overview
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </a>
            </div>
            <div class="ms-auto">
                <button
                    class="btn btn-light rounded-circle lh-1 px-2"
                    type="button"
                    style="aspect-ratio: 1 / 1;"
                    data-bs-toggle="collapse"
                    data-bs-target="#toc-collapse"
                    aria-expanded="true"
                    aria-controls="toc-collapse"
                    aria-label="Toggle table of contents">
                    <i class="bi bi-list-ul fs-5" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="collapse show" id="toc-collapse">
            <hr>
            {% include 'editor/toc_as_tab_buttons/toc_base.html' %}
        </div>
    </div>
</div>
{% endblock toc %}

{% block main_section %}
<div class="py-3">
    {% include 'editor/editor_tab.html' %}
</div>
{% endblock main_section %}

{% block extra_section %}
<div id="toast-container" class="toast-container position-fixed top-0 start-0 end-0 p-3 mx-auto"></div>
{% endblock extra_section %}]
