{% load helpers %}
<section class="d-flex flex-column row-gap-2 {{ section_extra_classes|default:'' }}">
    <div class="d-flex align-items-baseline column-gap-3">
        <h{{ heading_level }} class="{{ heading_classes|default:'fs-6' }}">{{ list_item_data.full_title }}</h{{ heading_level }}>
        <a
            href="{% url editor_reverse_base resource_id %}?category={{ list_item|urlencode }}"
            class="btn btn-success icon-link icon-link-hover">
            Edit 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg></a>
    </div>
    <div class="bg-body-tertiary rounded p-3">
        {% if list_item in overview_data_by_category %}
        <dl class="mb-0">
            {% with section_data=overview_data_by_category|get_key_value_or_empty_dict:list_item %}
            {% for property_name, property_metadata_for_section in section_data.items %}
            <dt>{{ property_metadata_for_section.title }}</dt>
            {% if forloop.last %}
            <dd class="mb-0">
            {% else %}
            <dd>
            {% endif %}
                {% if not property_metadata_for_section.value %}
                <span class="text-secondary">Not Set</span>
                {% else %}
                {{ property_metadata_for_section.value }}
                {% endif %}
            </dd>
            {% endfor %}
            {% endwith %}
        </dl>
        {% endif %}
    </div>
    {% if list_item_data.descendents %}
    {% for descendent_list_item, descendent_list_item_data in list_item_data.descendents.items %}
    {% with list_item=descendent_list_item list_item_data=descendent_list_item_data heading_level='4' heading_classes='fs-5 fw-semibold text-body-secondary' section_extra_classes='pt-2' %}
    {% include 'editor/overview_section.html' %}
    {% endwith %}
    {% endfor %}
    {% endif %}
</section>
