{% extends 'editor/editor_base.html' %}
{% load static %}
{% load helpers %}

{% block scripts %}
<script src="{% static 'editor/overview.js' %}" type="module" defer></script>
{% endblock scripts %}

{% block top_section %}
<div class="d-flex flex-column gap-2">
    <div class="d-flex align-items-center gap-2">
        <h2 class="mb-0">{{ main_heading }}</h2>
        <a
            href="{% url tosca_template_download_reverse_base resource_id %}?redirect={{ request.path }}"
            class="btn btn-light download-btn rounded-circle ms-2"
            style="aspect-ratio: 1 / 1;"
            data-bs-toggle="tooltip"
            title="Download{% block download_type__button_title %}{% endblock download_type__button_title %}">
            <i class="bi bi-download lh-1" aria-hidden="true"></i>
            <span class="visually-hidden">Download{% block download_type__button_text %}{% endblock download_type__button_text %}</span>
        </a>
    </div>
    {% if 'updated_at' in resource %}
    <div class="d-inline-flex align-items-center column-gap-2 text-body-secondary fs-sm mb-3">
        <i class="bi bi-clock"></i>
        Last updated on {{ resource.updated_at|convert_str_date|date:'jS F Y, H:i' }}
    </div>
    {% endif %}
</div>
{% endblock top_section %}

{% block toc %}
{% with in_overview=True %}
{% include 'editor/toc_links/active_sidebar_toc_links.html' %}
{% endwith %}
{% endblock toc %}

{% block main_section %}
{% for list_item, list_item_data in toc_list_items.items %}
{% with heading_level='3' heading_classes='fs-5' %}
{% include 'editor/overview_section.html' %}
{% endwith %}
{% endfor %}
{% endblock main_section %}
