{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet">
{% endblock styles %}
{% block scripts %}
<script src="{% static 'DataTables/datatables.min.js' %}"></script>
<script src="{% static 'editor/registrations_list.js' %}" type="module"></script>
{% endblock scripts %}
{% load helpers %}
{% block content %}
<h1>{{ title }}</h1>
<p class="pb-4">{{ description }}</p>
{% if not registrations %}
<p class="text-body-secondary">No {{ registration_type_name_plural|title }} have been registered.</p>
{% else %}
<form id="registration-deletion-form" method="POST" action="{{ request.path }}">
    {% csrf_token %}
    <div>
        <ul class="d-inline-flex column-gap-3 list-unstyled">
            <li>
                <a href="{% url new_registration_reverse %}" class="d-inline-flex align-items-center column-gap-2 btn btn-primary">
                   <i class="bi bi-plus-lg"></i>
                   New
                </a>
            </li>
            <li>
                <button
                    id="delete-checked-btn"
                    class="d-inline-flex align-items-center column-gap-2 invisible btn btn-outline-danger"
                    type="button">
                    <i class="bi bi-trash3-fill" title="Delete"></i>
                    <span>Delete selected (<span id="num-checked"></span>)</span>
                </button>
            </li>
        </ul>
    </div>
    <table id="registrations-table" class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th class="align-middle p-3"></th>
                <th class="align-middle p-3">ID</th>
                <th class="align-middle p-3">Created At</th>
                <th class="align-middle p-3">Updated At</th>
                <th
                    class="align-middle text-end p-3"
                    data-dt-order="disable">
                    <span class="visually-hidden">Actions</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for checkbox in form.registration_ids_to_delete %}
            {% with registration_id=checkbox.data.value %}
            {% with registration=registrations|get_key_value_or_blank_string:registration_id %}
            {% if registration %}
            <tr data-registration-id="{{ registration_id }}">
                <td class="align-middle px-3"></td>
                <td class="font-monospace align-middle px-3">
                    <a href="{% url editor_overview_url_reverse_base registration_id %}">{{ registration_id }}</a>
                </td>
                <td class="text-body-secondary align-middle px-3">
                    {% if 'created_at' in registration %}
                    {{ registration.created_at|convert_str_date|date:'d/m/Y, H:i:s' }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td class="text-body-secondary align-middle px-3">
                    {% if 'updated_at' in registration %}
                    {{ registration.updated_at|convert_str_date|date:'d/m/Y, H:i:s' }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td class="align-middle text-center px-3">
                    <ul class="d-inline-flex column-gap-2 list-unstyled my-auto">
                        <li>
                            <a
                                href="{% url editor_url_reverse_base registration_id %}"
                                class="btn btn-light edit-btn">
                                <i class="bi bi-pencil-fill" title="Edit"></i>
                            </a>
                        </li>
                        <li>
                            <button
                                class="btn btn-light delete-btn"
                                data-registration-id="{{ registration_id }}"
                                type="button">
                                <i class="bi bi-trash3-fill" title="Delete"></i>
                            </button>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endif %}
            {% endwith %}
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>
</form>
{% endif %}
{% with dialog_id='delete-dialog' %}
{% include 'editor/dialogs/delete_dialog.html' %}
{% endwith %}
{% with dialog_id='delete-multiple-dialog' %}
{% include 'editor/dialogs/delete_multiple_dialog.html' %}
{% endwith %}
{% endblock content %}
