<div class="sidebar-toc bg-light rounded h-100">
    <div class="sticky-top py-4">
        <div class="d-flex align-items-center column-gap-2">
            <div class="sidebar-top d-flex flex-column row-gap-2">
                <h1 class="fs-6 mb-0">
                    {% block h1_heading_text %}
                    {{ resource_name }}
                    {% endblock h1_heading_text %}
                </h1>
                {% block overview_link %}
                {% url editor_overview_reverse_base resource_id as overview_url %}
                <a href="{{ overview_url }}" class="icon-link icon-link-hover link-secondary link-underline-opacity-25 link-underline-opacity-75-hover">
                    Overview
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </a>
                {% endblock overview_link %}
            </div>
            <div class="ms-auto">
                <button
                    class="btn btn-light rounded-circle lh-1 px-2"
                    type="button"
                    style="aspect-ratio: 1 / 1;"
                    data-bs-toggle="collapse"
                    data-bs-target="#toc-collapse"
                    aria-expanded="true"
                    aria-controls="toc-collapse"
                    aria-label="Toggle table of contents">
                    <i class="bi bi-list-ul fs-5" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="collapse" id="toc-collapse">
            <hr>
            {% block toc %}{% endblock toc %}
        </div>
    </div>
</div>