<section>
    <h2 class="fs-6 fw-semibold mb-3">Locality</h2>
    <p class="form-text">{{ field.help_text }}</p>
    <div class="card">
        <h3 class="fs-6 fw-semibold card-header mb-0">Find a Location</h3>
        <div class="card-body">
            <div>
                {% for field in locality_options_search_form %}
                {% include 'editor/field_templates/field_template.html' with field_wrapper_classes='pb-4' %}
                {% endfor %}
            </div>
            <details>
                <summary>
                    <small>Find by an Edge Device's GPS Co-ordinates</small>
                </summary>
                <div class="pt-2">
                    {% with field=get_locality_by_gps_form.gps_location %}
                    {% include 'capacities/field_templates/search_by_gps_field_wrapper.html' %}
                    {% endwith %}
                </div>
            </details>
        </div>
    </div>
    <input
        type="hidden"
        id="locality-options-search-url"
        value="{{ locality_options_search_form_url_reverse }}">
    <input
        type="hidden"
        id="get-locality-by-name-url"
        value="{{ get_locality_by_name_url_reverse }}">
    <input
        type="hidden"
        id="get-locality-by-gps-url"
        value="{{ get_locality_by_gps_url_reverse }}">
    {% with is_open=field.value %}
    <details id="manual-location-entry" class="pt-4" {% if is_open %}open{% endif %}>
        <summary>
            Enter Location Manually
        </summary>
        {% with section_field=field formset=locality_formset extra_fieldset_classes='pb-0' extra_fieldset_legend_classes='visually-hidden' show_fieldset_description=False %}
        {% include 'editor/util_templates/formset_section_template.html' %}
        {% endwith %}
    </details>
    {% endwith %}
</section>
