{% load helpers %}
<section>
    {% if fk_table_toc_list_items.keys|length == 1 and category_data.title == 'Uncategorised' %}
    {# If the only category is "Uncategorised", don't render any heading. #}
    {% else %}
    <h3 class="border-bottom fs-2 pb-3">{{ category_data.title|split_by_colon|join:': ' }}</h3>
    {% endif %}
    {% with form=forms_by_category|get_key_value_or_empty_dict:category %}
    {% for field in form %}
    {% with min_max_base_field_name=field.name|remove_min_max_prefix %}
    {% if field.field.metadata.refers_to_table_name %}
    {% include 'editor/foreign_key_resource_editors/one_to_one_field_placeholder.html' %}
    {% elif field.field.metadata.created_from_table_name %}
    {% include 'editor/foreign_key_resource_editors/one_to_many_field_placeholder.html' %}
    {% elif field.field.widget.input_type == 'checkbox' %}
    {% include 'editor/field_templates/checkbox_field_wrapper.html' %}
    {% elif field.field.metadata.format == 'text[]' %}
    {% include 'editor/field_templates/text_array_field_template.html' %}
    {% elif "min_" in field.name and "max_"|add:min_max_base_field_name in form.fields %}
    {% with max_field_name="max_"|add:min_max_base_field_name %}
    {% with min_field=field max_field=form|get_key_value_or_empty_dict:max_field_name %}
    {% include 'editor/field_templates/min_max_field_template.html' %}
    {% endwith %}
    {% endwith %}
    {% elif "max_" in field.name and "min_"|add:min_max_base_field_name in form.fields %}
    {# "min_" and "max_" fields handled together in "min_" block. #}
    {% else %}
    {% include 'editor/field_templates/field_template.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
    {% endwith %}
</section>