{% load helpers %}
<section>
    {% if fk_table_toc_list_items.keys|length == 1 and category_data.title == 'Uncategorised' %}
    {# If the only category is "Uncategorised", don't render any heading. #}
    {% else %}
    <h3 class="border-bottom fs-2 pb-3">{{ category_data.title|split_by_colon|join:': ' }}</h3>
    {% endif %}
    {% with form=forms_by_category|get_key_value_or_empty_dict:category %}
    {% for field in form %}
    {% if field.field.metadata.refers_to_table_name %}
    {% include 'editor/foreign_key_resource_editors/one_to_one_field_placeholder.html' %}
    {% elif field.field.metadata.created_from_table_name %}
    {% include 'editor/foreign_key_resource_editors/one_to_many_field_placeholder.html' %}
    {% elif field.field.widget.input_type == 'checkbox' %}
    {% include 'editor/field_templates/checkbox_field_wrapper.html' %}
    {% else %}
    {% include 'editor/field_templates/field_template.html' %}
    {% endif %}
    {% endfor %}
    {% endwith %}
</section>