{% extends 'editor/editor_base.html' %}
{% load static %}
{% block extra_scripts %}
<script type="module" src="{% static 'editor/foreign_key_resource_editor.js' %}"></script>
{% endblock extra_scripts %}
{% load helpers %}

{% block top_section %}
<div class="d-flex flex-column align-items-start row-gap-2 border rounded px-2 py-3">
    <a
        href="{% url editor_reverse_base resource_id %}?category={{ initial_category }}"
        class="icon-link icon-link-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        style="--bs-icon-link-transform: translate3d(-.125rem, 0, 0);">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
        </svg>
        Back to {{ initial_category }}
    </a>
    <h2 class="fs-6 px-4 mb-0">{{ main_heading }}</h2>
</div>
{% endblock top_section %}

{% block toc %}
{% include 'editor/toc_links/active_sidebar_toc_links.html' %}
{% endblock toc %}

{% block main_section %}
<form method="POST" id="fk-resource-form">
    {% csrf_token %}
    {% for field in form %}
    {% if field.field.metadata.refers_to_table_name %}
    {% include 'editor/foreign_key_resource_editors/one_to_one_field_placeholder.html' %}
    {% elif field.field.metadata.created_from_table_name %}
    {% include 'editor/foreign_key_resource_editors/one_to_many_field_placeholder.html' %}
    {% elif field.field.widget.input_type == 'checkbox' %}
    {% include 'editor/field_templates/checkbox_field_wrapper.html' %}
    {% else %}
    {% include 'editor/field_templates/field_template.html' %}
    {% endif %}
    {% endfor %}
    <div class="pt-4">
        <button class="btn btn-primary fw-semibold" type="submit">Register</button>
    </div>
</form>
<div id="dialogs"></div>
{% endblock main_section %}

{% block extra_section %}
<div id="toast-container" class="toast-container position-fixed top-0 start-0 end-0 p-3 mx-auto"></div>
{% endblock extra_section %}]
