<section>
    <h2 class="fw-semibold fs-6">{{ field.label }}</h2>
    <div id="instance-types-list" class="list-group mb-4">
        {% for form in instance_types_formset %}
        {% with it_name=form.name.value it_num_cpus=form.num_cpus.value it_memory_size=form.mem_size.value it_disk_size=form.disk_size.value %}
        {% with it_energy_consumption=form.energy_consumption.value it_bandwidth=form.bandwidth.value it_price=form.price.value it_disk_size=form.disk_size.value %}
        {% include 'instance_types/instance_type_list_item.html' %}
        {% endwith %}
        {% endwith %}
        {% endfor %}
        <button
        id="add-instance-type-button"
        class="list-group-item list-group-item-action text-center fw-semibold"
        type="button">
            <i class="bi bi-plus-lg me-2"></i>
            Add New Instance Type
        </button>
    </div>
    <div class="form-text">{{ field.help_text }}</div>
    <div id="instance-types-formset-wrapper" class="d-none">
        {{ instance_types_formset.management_form }}
        {% for form in instance_types_formset %}
        <div class="instance-type-form">
            {{ form }}
        </div>
        {% endfor %}
    </div>
</section>
