
<li
    class="list-group-item list-group-item-action"
    data-dialog-id="{{ dialog_id|default:'' }}">
    <div class="d-flex align-items-center text-nowrap">
        <div class="position-relative overflow-hidden w-100">
            <div class="d-flex align-items-center column-gap-3">
                <a href="javascript:;" class="stretched-link" role="button">
                    <strong class="name text-truncate">{{ form.name.value|default:'' }}</strong>
                </a>
                <small class="unsaved-alert text-body-secondary">
                    <i class="bi bi-exclamation-circle"></i>
                    Unsaved changes
                </small>
            </div>
            <div class="form-text text-truncate">
                <span class="property">
                    <span class="num-cpus property-value">{{ form.num_cpus.value|default:'' }}</span> <span class="property-unit">CPUs</span>
                </span>
                <span class="property">
                    <span class="num-memory-size property-value">{{ form.mem_size.value|default:'' }}</span><span class="property-unit">GB RAM</span>
                </span>
                <span class="property">
                    <span class="num-disk-size property-value">{{ form.disk_size.value|default:'' }}</span><span class="property-unit">GB Storage</span>
                </span>
                <span class="property">
                    <span class="num-energy-consumption property-value">{{ form.energy_consumption.value|default:'' }}</span><span class="property-unit">W</span>
                </span>
                <span class="property">
                    <span class="num-bandwidth property-value">{{ form.bandwidth.value|default:'' }}</span> <span class="property-unit">Mbps</span>
                </span>
                <span class="property">
                    <span class="num-price property-value">{{ form.price.value|default:'' }}</span> <span class="property-unit">credits/hour</span>
                </span>
            </div>
        </div>
        <div class="list-item-toolbar ms-auto">
            <div>
                {{ form.DELETE }}
                <label class="btn btn-light btn-sm delete-btn" for="{{ form.DELETE.id_for_label }}">
                    <i class="bi bi-trash-fill"></i>
                    <span class="visually-hidden">Mark for Deletion</span>
                </label>
            </div>
            <button class="btn btn-light edit-btn btn-sm" type="button">
                <i class="bi bi-pencil-fill"></i>
            </button>
        </div>
    </div>
</li>
