<section id="instance-types-section">
    <div class="d-flex align-items-start column-gap-2">
        <h2 class="fw-semibold fs-6">{{ field.label }}</h2>
        <div class="status ms-auto">
            {% with success_text='' default_text='' extra_loading_text_classes='text-body-tertiary' %}
            {% include 'editor/util_templates/save_button_content.html' %}
            {% endwith %}
        </div>
    </div>
    {% include 'editor/util_templates/form_errors_list.html' %}
    <div id="instance-types-list" class="list-group mb-4">
        {% for form in instance_types_formset %}
        {% with counter_str=forloop.counter0|stringformat:'s' %}
        {% include 'instance_types/instance_type_list_item.html' with dialog_id='instance-type-'|add:counter_str|add:'-dialog' %}
        {% endwith %}
        {% endfor %}
        <button
        id="add-instance-type-button"
        class="list-group-item list-group-item-action text-center fw-semibold"
        type="button">
            <i class="bi bi-plus-lg me-2"></i>
            Add New Instance Type
        </button>
    </div>
    <div class="form-text">{{ field.help_text }}</div>
    {{ instance_types_formset.management_form }}
    {# New instance type dialog #}
    {% with dialog_id='instance-type-__prefix__-dialog' dialog_header_text='New Instance Type' form=instance_types_formset.empty_form %}
    {% include 'instance_types/dialogs/instance_type_dialog.html' %}
    {% endwith %}

    {# Instance type editor dialog #}
    {% for form in instance_types_formset %}
    {% with counter_str=forloop.counter0|stringformat:'s' %}
    {% with dialog_id='instance-type-'|add:counter_str|add:'-dialog' dialog_extra_classes='instance-type-formset-instance-dialog' %}
    {% include 'instance_types/dialogs/instance_type_dialog.html' %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
</section>
