body {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 400; */
    font-style: normal;
}

a {
    color: var(--swrmch-link-colour);
}

/* Skip to main content link */
[href="#main"] {
    position: absolute;
    top: 0.5rem;
    right: 100%; /* moves off screen */
    z-index: 1;
}

[href="#main"]:focus {
    left: 0.5rem;
    right: auto;
}

#home-menu-links .card {
    border-width: 0.15rem;
}

#home-menu-links .card a {
    color: var(--bs-body-color);
}

#home-menu-links .card:has(a:hover),
#home-menu-links .card:has(a:focus-visible) {
    --bs-border-opacity: 1;
    border-color: var(--swrmch-link-colour);
}

#home-menu-links .card a:hover,
#home-menu-links .card a:focus-visible {
    color: var(--swrmch-link-colour);
}

label:has(~ :required)::after,
:required ~ label::after {
    content: " *";
    color: var(--bs-danger);
}

:root {
    --swrmch-link-colour: #0455bf;
}