{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16" />
    <!-- Bootstrap SCSS -->
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'bootstrap/scss/bootstrap.scss' %}">
    {% endcompress %}
    <!-- Bootstrap JS -->
    {% compress js %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% endcompress %}
    <!-- Site font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Styles -->
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/style.scss' %}">
    {% endcompress %}
    {% block styles %}{% endblock styles %}
    {% block scripts %}{% endblock scripts %}
    <title>{{ title }}</title>
</head>
<body>
    <div class="content">
        <!-- A handy skip link for keyboard users -->
        <a href="#main" class="btn btn-light">Skip to main content</a>
        {% include 'navbar.html' %}
        {% include 'messages.html' %}
        <main id="main">
            <div class="container-xxl gx-sm-5 gx-4">
                {% block content %}{% endblock content %}
            </div>
        </main>
    </div>
    <footer class="footer mt-5">
        <div class="container-xxl gx-sm-5 gx-4">
            <small>© 2024-2025 Swarmchestrate Project</small>
        </div>
    </footer>
</body>
</html>
