{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16" />
    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Site font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{% sass_src 'scss/style.scss' %}">
    {% block styles %}{% endblock styles %}
    {% block scripts %}{% endblock scripts %}
    <title>SWCH CDT / SAT Builder | {{ title }}</title>
</head>
<body>
    <div class="content">
        <!-- A handy skip link for keyboard users -->
        <a href="#main" class="btn btn-light">Skip to main content</a>
        {% include 'navbar.html' %}
        <div class="border-top border-bottom">
            <div class="container-xxl gx-sm-5 gx-4 py-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        {% block breadcrumb_items %}
                        {% include 'breadcrumbs/index_item.html' with active=True %}
                        {% endblock breadcrumb_items %}
                    </ol>
                </nav>
            </div>
        </div>
        {% include 'messages.html' %}
        <main id="main">
            <div class="container-xxl gx-sm-5 gx-4 pt-5">
                {% block content %}{% endblock content %}
            </div>
        </main>
    </div>
    <footer class="footer mt-5">
        <div class="container-xxl gx-sm-5 gx-4">
            <div class="row g-4">
                <div class="col-auto">
                    <small>© 2024-2026 Swarmchestrate Project</small>
                </div>
                <div class="col-auto ms-sm-auto ms-0">
                    <a
                        href="{% url 'resource_management:manage_column_metadata' %}" 
                        class="icon-link icon-link-hover link-light link-underline link-underline-opacity-0 link-underline-opacity-100-hover ms-auto"
                        style="--bs-icon-link-transform: translate3d(0, -0.125em, 0);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-magic" viewBox="0 0 16 16">
                            <path d="M9.5 2.672a.5.5 0 1 0 1 0V.843a.5.5 0 0 0-1 0zm4.5.035A.5.5 0 0 0 13.293 2L12 3.293a.5.5 0 1 0 .707.707zM7.293 4A.5.5 0 1 0 8 3.293L6.707 2A.5.5 0 0 0 6 2.707zm-.621 2.5a.5.5 0 1 0 0-1H4.843a.5.5 0 1 0 0 1zm8.485 0a.5.5 0 1 0 0-1h-1.829a.5.5 0 0 0 0 1zM13.293 10A.5.5 0 1 0 14 9.293L12.707 8a.5.5 0 1 0-.707.707zM9.5 11.157a.5.5 0 0 0 1 0V9.328a.5.5 0 0 0-1 0zm1.854-5.097a.5.5 0 0 0 0-.706l-.708-.708a.5.5 0 0 0-.707 0L8.646 5.94a.5.5 0 0 0 0 .707l.708.708a.5.5 0 0 0 .707 0l1.293-1.293Zm-3 3a.5.5 0 0 0 0-.706l-.708-.708a.5.5 0 0 0-.707 0L.646 13.94a.5.5 0 0 0 0 .707l.708.708a.5.5 0 0 0 .707 0z"/>
                        </svg>
                        <small>Wizard Customisation</small>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
