// Required
@import "../bootstrap/scss/functions";

// Default variable overrides
$primary: #0455bf;

// Required
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";

// Optional Bootstrap components here
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/dropdown";
@import "../bootstrap/scss/forms";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/pagination";

// Bootstrap Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* || General styles */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 400; */
    font-style: normal;
}

a {
    color: var(--swrm-link-colour);
}

section {
    padding-block: 1rem;
}

/* Dialog */
/* Credit: Used this article as reference for dialog implementation:
https://web.dev/articles/building/a-dialog-component */
dialog {
    border: 1px var(--bs-gray-300) solid;
    border-radius: var(--bs-border-radius);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s;
    display: grid;
    align-content: start;
    max-inline-size: min(90vw, 60ch);
    max-block-size: min(80vh, 100%);
    max-block-size: min(80dvb, 100%);
    overflow: auto;
    margin: auto;
    padding: 0;
    position: fixed;
    inset: 0;
}

dialog[open] {
    opacity: 1;
    pointer-events: inherit;
}

html:has(dialog[open]) {
    overflow: hidden;
}

dialog .dialog-content {
    padding: 2rem;
}

dialog .dialog-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

dialog .btn-close {
    transform: translateY(0.25rem);
    flex-shrink: 0;
}

/* Skip to main content link */
[href="#main"] {
    position: absolute;
    top: 0.5rem;
    right: 100%; /* moves off screen */
    z-index: 1;
}

[href="#main"]:focus {
    left: 0.5rem;
    right: auto;
}

/* Navbar */
#logo {
    width: auto;
    max-height: 53px;
}

/* Site-wide messages */
.messages-container {
    display: flex;
    flex-direction: column;
    word-break: break-word;
}

/* Footer */
.footer {
    grid-row-start: 2;
    grid-row-end: 3;
    padding-block: 2rem;
    background-color: var(--swrm-footer-bg-colour);
    color: rgb(var(--bs-light-rgb));
}

/* Home page menu */
.home-menu-links .card {
    border-width: 0.15rem;
}

.home-menu-links .card a {
    color: var(--bs-body-color);
}

.home-menu-links .card:has(a:hover),
.home-menu-links .card:has(a:focus-visible) {
    --bs-border-opacity: 1;
    border-color: var(--swrm-link-colour);
}

.home-menu-links .card a:hover,
.home-menu-links .card a:focus-visible {
    color: var(--swrm-link-colour);
}

/* || Wizard */
label:has(~ :required)::after,
:required ~ label::after {
    content: " *";
    color: var(--bs-danger);
}

/* Wizard nav */
.editor-toc.nav-pills .nav-link:not(.active):hover,
.editor-toc.nav-pills .nav-link:not(.active):focus {
    background: var(--bs-tertiary-bg);
}

/* DataTables */
#registrations-table_wrapper {
    max-width: calc(100vw - var(--bs-gutter-x));
}

#registrations-table_wrapper .dt-layout-table {
    overflow-x: auto;
}

#registrations-table thead input[type="checkbox"] {
    margin: auto;
}

.delete-btn i {
    transition: $btn-transition;
}

.delete-btn:hover i,
.delete-btn:focus-visible i {
    color: var(--bs-danger);
}

/* Root variables */
:root {
    --swrm-link-colour: #0455bf;
    --swrm-footer-bg-colour: #162d73;
}
