// Required
@import "../../node_modules/bootstrap/scss/functions";

// Default variable overrides
$primary: #0455bf;

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// Optional Bootstrap components here
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/utilities/api";

// Bootstrap Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* || General styles */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 400; */
    font-style: normal;
}

a {
    color: var(--swrm-link-colour);
}

section {
    padding-block: 1rem;
}

/* Dialog */
/* Credit: Used this article as reference for dialog implementation:
https://web.dev/articles/building/a-dialog-component */
dialog {
    border: var(--bs-border-width) var(--bs-gray-300) var(--bs-border-style);
    border-radius: var(--bs-border-radius);
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s;
    display: flex;
    flex-direction: column;
    max-inline-size: MIN(90vw, 60ch);
    max-block-size: MIN(80vh, 100%);
    max-block-size: MIN(80dvb, 100%);
    margin: auto;
    margin-block-end: 0;
    padding: 0;
    position: fixed;
    inset: 0;
    overflow: auto;
}

dialog[open] {
    opacity: 1;
    pointer-events: inherit;
}

html:has(dialog[open]) {
    overflow: hidden;
}

dialog .dialog-header {
    padding-block: 1rem;
    padding-inline: 2rem;
}

dialog .dialog-header {
    border-bottom: var(--bs-border-width) var(--bs-gray-300)
        var(--bs-border-style);
}

dialog .dialog-content {
    flex-grow: 1;
    overflow: auto;
    padding: 2rem;
}

dialog .dialog-footer {
    border-top: var(--bs-border-width) var(--bs-gray-300) var(--bs-border-style);
}

dialog .btn-close {
    transform: translateY(0.25rem);
    flex-shrink: 0;
}

/* Skip to main content link */
[href="#main"] {
    position: absolute;
    top: 0.5rem;
    right: 100%; /* moves off screen */
    z-index: 1;
}

[href="#main"]:focus {
    left: 0.5rem;
    right: auto;
}

/* Navbar */
#logo {
    width: auto;
    max-height: 53px;
}

/* Site-wide messages */
.messages-container {
    display: flex;
    flex-direction: column;
    word-break: break-word;
}

/* Footer */
.footer {
    grid-row-start: 2;
    grid-row-end: 3;
    padding-block: 2rem;
    background-color: var(--swrm-footer-bg-colour);
    color: RGB(var(--bs-light-rgb));
}

/* Home page menu */
.home-menu-links .card {
    border-width: 0.15rem;
}

.home-menu-links .card a {
    color: var(--bs-body-color);
}

.home-menu-links .card:has(a:hover),
.home-menu-links .card:has(a:focus-visible) {
    --bs-border-opacity: 1;
    border-color: var(--swrm-link-colour);
}

.home-menu-links .card a:hover,
.home-menu-links .card a:focus-visible {
    color: var(--swrm-link-colour);
}

/* || Wizard */
label:has(~ :required)::after,
:required ~ label::after {
    content: " *";
    color: var(--bs-danger);
}

.editor-layout {
    display: grid;
    column-gap: 2rem;
    grid-template-areas:
        "header"
        "toc"
        "body";
    grid-template-columns: minmax(0, 1fr);
}

.editor-layout__content {
    grid-area: content;
    display: contents;
}

.editor-layout__header {
    grid-area: header;
}

.editor-layout__sidebar {
    grid-area: sidebar;
}

.editor-layout__toc {
    grid-area: toc;
}

.editor-layout__toc-body {
    grid-area: body;
}

#instance-types-list:empty::after {
    content: "No instance types have been specified.";
    color: var(--bs-secondary-color);
}

/* Formset tables */
.formset-table.delete-disabled tr th:last-child,
.formset-table.delete-disabled tr td:last-child {
    display: none;
}

.formset-should-delete-rows + label {
    color: var(--bs-secondary-text-emphasis);
}

.formset-should-delete-rows + label i {
    color: var(--bs-danger);
}

.formset-should-delete-rows:checked + label {
    color: var(--bs-danger) !important;
    /* transition: $btn-transition; */
}

#instance-types-list .list-group-item-action a {
    color: var(--bs-list-group-action-color);
    text-decoration: none;
}

#instance-types-list .list-group-item-action:not(.active):hover a,
#instance-types-list .list-group-item-action:not(.active):focus a {
    color: var(--bs-list-group-action-hover-color);
}

#instance-types-list .list-group-item-action .list-item-toolbar {
    display: flex;
    column-gap: 0.25rem;
}

#instance-types-list
    .list-group-item-action
    .list-item-toolbar
    .form-check:has(input.delete-list-item) {
    display: none;
}

#instance-types-list
    .list-group-item-action:hover
    .list-item-toolbar
    .form-check:has(input.delete-list-item),
#instance-types-list
    .list-group-item-action:has(a:focus)
    .list-item-toolbar
    .form-check:has(input.delete-list-item),
#instance-types-list
    .list-group-item-action
    .list-item-toolbar
    .form-check:has(input.delete-list-item:focus),
#instance-types-list
    .list-group-item-action
    .list-item-toolbar
    .form-check:has(input.delete-list-item:checked) {
    display: inline;
}

#instance-types-list
    .list-group-item-action
    .list-item-toolbar
    .form-check
    .form-check-label
    i::before {
    vertical-align: -0.25em;
}

#instance-types-list .list-group-item-action .edit-text {
    display: none;
}

#instance-types-list .list-group-item-action:hover .edit-text,
#instance-types-list .list-group-item-action:has(a:focus) .edit-text {
    display: inline;
}

#instance-types-list
    .list-group-item-action:hover
    .list-item-toolbar
    button:hover
    i,
#instance-types-list
    .list-group-item-action:has(a:focus)
    .list-item-toolbar
    button:hover
    i {
    color: #000;
}

#instance-types-list
    .list-group-item-action:has(input.delete-list-item:checked) {
    color: var(--bs-danger-text-emphasis);
    background-color: var(--bs-danger-bg-subtle);
    --bs-list-group-border-color: var(--bs-danger-border-subtle);
}

#instance-types-list .list-group-item-action .unsaved-alert {
    display: none;
}

#instance-types-list
    .list-group-item-action.list-group-item-light
    .unsaved-alert {
    display: inline;
}

#instance-types-list .property:has(.property-value:empty) {
    display: none;
}

#instance-types-list .property:not(:first-child)::before {
    content: "•";
    font-size: 0.75em;
    vertical-align: middle;
    margin-inline: 0.25em;
}

/* Wizard nav */
.editor-toc.nav-pills .nav-link:not(.active):hover,
.editor-toc.nav-pills .nav-link:not(.active):focus {
    background: var(--bs-tertiary-bg);
}

/* DataTables */
#registrations-table_wrapper {
    max-width: calc(100vw - var(--bs-gutter-x));
}

#registrations-table_wrapper .dt-layout-table {
    overflow-x: auto;
}

#registrations-table thead input[type="checkbox"] {
    margin: auto;
}

.delete-btn i {
    /* transition: $btn-transition; */
}

.btn-check + .delete-btn:hover i,
.btn-check:focus + .delete-btn i {
    color: var(--bs-danger);
}

/* Root variables */
:root {
    --swrm-link-colour: #0455bf;
    --swrm-footer-bg-colour: #162d73;
}

/* Media queries */
@media (min-width: 992px) {
    .editor-layout {
        grid-template-areas:
            "sidebar header toc"
            "sidebar body toc";
        grid-template-columns: 1fr minmax(0, 3fr) 1fr;
    }
}

@media (min-width: 768px) {
    dialog {
        border-end-end-radius: var(--bs-border-radius);
        border-end-start-radius: var(--bs-border-radius);
        margin-block-end: auto;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .editor-layout {
        grid-template-areas:
            "toc header"
            "toc body";
        grid-template-columns: 1.5fr minmax(0, 3fr);
    }
}

@media (pointer: coarse) {
    #instance-types-list
        .list-group-item-action
        .list-item-toolbar
        .form-check:has(input.delete-list-item) {
        display: inline;
    }
}
