<section class="one-to-one-field py-4">
    <h3 class="fs-6 fw-semibold">{{ field.label }}</h3>
    <div class="d-flex flex-column align-items-start row-gap-3">
        <div class="w-100 rounded border p-3">
            <div class="d-flex flex-md-row flex-column flex-wrap align-items-md-center align-items-start justify-content-between row-gap-3 column-gap-4">
                <dl class="d-flex flex-md-row flex-column column-gap-4 form-text mb-0">
                    {% for field in field_metadata.update_form %}
                    <div>
                        <dt>
                            {{ field.label }}
                        </dt>
                        <dd data-field="{{ field.name }}" {% if forloop.last %}class="pb-0"{% endif %}>
                            {% if field.get_choices_display %}
                            {{ field.get_choices_display|default:'None' }}
                            {% else %}
                            {{ field.value|default:'None' }}
                            {% endif %}
                        </dd>
                    </div>
                    {% endfor %}
                </dl>
                <div class="d-flex column-gap-2">
                    <button
                        class="btn btn-light new-dialog-btn {% if field.value %}d-none{% endif %}"
                        type="button"
                        data-dialog-id="new-{{ field.name }}-dialog">
                        Add {{ field_metadata.type_readable.title }}
                    </button>
                    <button
                        class="btn btn-light update-dialog-btn {% if not field.value %}d-none{% endif %}"
                        data-dialog-id="update-{{ field.name }}-dialog"
                        type="button"
                        aria-label="Edit"
                        title="Edit">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button
                        class="btn btn-outline-danger delete-dialog-btn {% if not field.value %}d-none{% endif %}"
                        data-dialog-id="delete-{{ field.name }}-dialog"
                        type="button"
                        aria-label="Delete"
                        title="Delete">
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <p class="form-text">{{ field.help_text }}</p>
</section>
