{% load humanise_swch %}
<div class="d-flex flex-column align-items-start">
    <div class="card w-100">
        <ul class="list-group list-group-flush" placeholder="No {{ resource_type|humanise_resource_type_plural }} added.">{% for resource_id, forms in forms_for_existing_resources.items %}
            {% with form=forms.update_form resource_type=resource_type %}
            {% include 'editor/foreign_key_fields/one_to_many_field_list_item.html' %}
            {% endwith %}
            {% endfor %}</ul>
        <button
            class="btn btn-light new-dialog-btn rounded-top-0 w-100 {% if field.value %}d-none{% endif %}"
            type="button"
            data-dialog-id="new-{{ field_name }}-dialog">
            <i class="bi bi-plus-lg"></i>
            Add {{ resource_type|humanise_resource_type|title }}
        </button>
    </div>
</div>