<section class="py-4">
    <h3 class="fs-6 fw-semibold">{{ field.label }}</h3>
    <button
        class="btn btn-light new-dialog-btn one-to-many-btn mb-3 {% if field.value %}d-none{% endif %}"
        type="button"
        data-dialog-id="new-{{ field.name }}-dialog">
        Add {{ field.label }}
    </button>
    <ul class="list-group">
        {% for existing_resource_id, existing_resource_metadata in field_metadata.existing_resources.items %}
        <li class="list-group-item">
            <div class="row align-items-center gx-4">
                <div class="col-lg-10">
                    {{ field.label }} {{ existing_resource_id }}
                    <div class="form-text text-truncate">
                        {% for field in existing_resource_metadata.update_form %}
                        <span class="{% if not forloop.last %}me-2{% endif %}">
                            {{ field.get_choices_display }}
                            <strong>{{ field.label }}</strong><i class="bi bi-dot"></i>{{ field.value|default:'None' }}
                        </span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-2 d-flex column-gap-2">
                    <button class="btn btn-light btn-sm update-dialog-btn" data-dialog-id="update-{{ field.name }}-{{ existing_resource_id }}-dialog" type="button">Edit</button>
                    <button class="btn btn-outline-danger btn-sm delete-dialog-btn" data-dialog-id="delete-{{ field.name }}-{{ existing_resource_id }}-dialog" type="button">Delete</button>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <p class="form-text">{{ field.help_text }}</p>
</section>
