{% load humanise_swch %}
<section
    class="one-to-many-field py-4"
    data-field="{{ field.name }}"
    data-resource-type="{{ field.field.metadata.created_from_table_name|humanise_resource_type|title }}">
    <div class="d-flex flex-wrap align-items-baseline column-gap-4 row-gap-1 w-100">
        <div class="label-wrapper">
            <h3 class="fs-6 fw-semibold label">{{ field.label }}</h3>
        </div>
        <a class="icon-link icon-link-hover add-fk-btn btn btn-light ms-auto disabled placeholder placeholder-wave bg-secondary-subtle" aria-disabled="true">
            <span class="invisible">
                Add {{ field.field.metadata.created_from_table_name|humanise_resource_type|title }}
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right invisible" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </a>
    </div>
    <div data-section-url="{% url editor_one_to_many_section_reverse_base resource_id field.field.metadata.created_from_table_name %}">
        <div class="d-flex flex-column row-gap-5 placeholder-wave">
            <div class="d-flex flex-column row-gap-3 placeholder-wave">
                <span class="placeholder col-12 fs-1 bg-secondary-subtle rounded"></span>
            </div>
        </div>
    </div>
    <p class="form-text">{{ field.help_text }}</p>
</section>
