{% load helpers %}
{% with category_id_base=list_item.lower|kebab_case %}
<button
    class="nav-link w-100 text-start {% if initial_category == list_item %}active{% elif not initial_category and not list_item_data.previous %}active{% endif %}"
    id="{{ category_id_base }}-tab"
    data-bs-toggle="tab"
    data-bs-target="#{{ category_id_base }}-tab-pane"
    type="button"
    role="tab"
    aria-controls="{{ category_id_base }}-tab-pane"
    aria-selected="{% if initial_category == list_item %}true{% else %}false{% endif %}">
        {{ list_item_data.title }}
</button>
{% endwith %}
