{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet">
{% endblock styles %}
{% block scripts %}
{{ get_columns_url_template|json_script:"get-columns-url-template" }}
<script src="https://cdn.jsdelivr.net/npm/luxon@3.7.2/build/global/luxon.min.js"></script>
<script src="{% static 'DataTables/datatables.min.js' %}"></script>
<script src="{% static 'resource_management/column_metadata_list.js' %}" type="module"></script>
{% endblock scripts %}
{% load helpers %}
{% load humanise_swch %}
{% block content %}
<div class="d-flex flex-wrap align-items-center column-gap-4 row-gap-4 pb-4">
    <h1 class="mb-0">{{ title }}</h1>
</div>
{% if description %}
<p class="pb-4">{{ description }}</p>
{% endif %}
<nav>
    <div class="nav nav-tabs" id="table-nav-tab" role="tablist">
        {% for table_name in fields_by_table_name.keys %}
        <button
            class="nav-link{% if forloop.first %} active{% endif %}"
            id="nav-{{ table_name }}-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-{{ table_name }}"
            type="button"
            role="tab"
            aria-controls="nav-{{ table_name }}"
            aria-selected="true">{{ table_name|humanise_resource_type|title }}</button>
        {% endfor %}
    </div>
</nav>
<div id="table-nav-tabContent" class="tab-content pt-4">
    {% for table_name in fields_by_table_name.keys %}
    <div
        class="tab-pane fade{% if forloop.first %} show active{% endif %}"
        id="nav-{{ table_name }}"
        role="tabpanel"
        aria-labelledby="nav-{{ table_name }}-tab"
        tabindex="0">
        {% if resources %}
        <button
            id="{{ table_name }}-delete-checked-btn"
            class="d-none d-inline-flex align-items-center column-gap-2 delete-checked-btn btn btn-outline-danger"
            type="button"
            data-dialog-id="{{ table_name }}-delete-multiple-dialog"
            data-table-id="{{ table_name }}-table"
            data-form-id="{{ table_name }}-multi-resource-deletion-form"
            aria-label="Delete"
            title="Delete">
            <i class="bi bi-trash3-fill"></i>
            <span>Delete selected (<span class="num-checked"></span>)</span>
        </button>
        {% endif %}
        <div class="row">
            <div class="col-lg-12">
                {% if not resources %}
                {% load humanise_swch %}
                <p class="text-body-secondary">Update how wizard fields appear in the user interface here.</p>
                {% else %}
                <form id="{{ table_name }}-multi-resource-deletion-form" class="multi-resource-deletion-form" method="POST" action="{% url multi_resource_deletion_reverse %}">
                    {% csrf_token %}
                    <table id="{{ table_name }}-table" class="resources-table table table-hover">
                        <thead>
                            <tr>
                                <th class="align-middle p-3"></th>
                                <th class="align-middle p-3">Column Name</th>
                                <th class="align-middle p-3">Title</th>
                                <th class="align-middle p-3">Created At</th>
                                <th class="align-middle p-3">Updated At</th>
                                <th
                                    class="align-middle text-end p-3"
                                    data-dt-order="disable">
                                    <span class="visually-hidden">Actions</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% with table_fields=fields_by_table_name|get_key_value_or_empty_list:table_name %}
                            {% for field_name in table_fields %}
                            {% with possible_resource_id=table_name|add:'_'|add:field_name %}
                            {% with resource=resources|get_key_value_or_empty_dict:possible_resource_id %}
                            <tr{% if resource %} data-resource-id="{{ possible_resource_id }}"{% endif %}>
                                <td class="align-middle px-3"></td>
                                <td class="align-middle px-3">
                                    {% if not resource %}
                                    {{ field_name }}
                                    {% else %}
                                    <button
                                        class="btn btn-link edit-btn"
                                        data-dialog-id="update-{{ possible_resource_id }}-dialog"
                                        type="button">
                                        {{ resource.as_dict.column_name }}
                                    </button>
                                    {% endif %}
                                </td>
                                <td class="align-middle px-3">
                                    {% if not resource %}
                                    -
                                    {% else %}
                                    {{ resource.as_dict.title }}
                                    {% endif %}
                                </td>
                                <td class="text-body-secondary align-middle px-3">
                                    {% if 'created_at' in resource %}
                                    {{ resource.created_at|convert_str_date|date:'d/m/Y, H:i:s' }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td class="text-body-secondary align-middle px-3">
                                    {% if 'updated_at' in resource %}
                                    {{ resource.updated_at|convert_str_date|date:'d/m/Y, H:i:s' }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td class="align-middle text-center px-3">
                                    <ul class="d-inline-flex column-gap-2 list-unstyled my-auto">
                                        {% if not resource %}
                                        <li>
                                            <button
                                                class="btn btn-light"
                                                type="button"
                                                aria-label="New"
                                                title="New">
                                                <i class="bi bi-plus-lg"></i>
                                            </button>
                                        </li>
                                        {% else %}
                                        <li>
                                            <button
                                                class="btn btn-light edit-btn"
                                                type="button"
                                                data-dialog-id="update-{{ table_name }}-{{ resource_id }}-dialog"
                                                aria-label="Edit"
                                                title="Edit">
                                                <i class="bi bi-pencil-fill"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button
                                                class="btn btn-light delete-btn"
                                                data-dialog-id="delete-{{ table_name }}-{{ resource_id }}-dialog"
                                                type="button"
                                                aria-label="Delete"
                                                title="Delete">
                                                <i class="bi bi-trash3-fill"></i>
                                            </button>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                            {% endwith %}
                            {% endwith %}
                            {% endfor %}
                            {% endwith %}
                        </tbody>
                    </table>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% for table_name in fields_by_table_name.keys %}
{% with dialog_id=table_name|add:'-delete-multiple-dialog' %}
{% include 'resource_management/dialogs/delete_multiple_dialog.html' %}
{% endwith %}
{% comment %} <div id="{{ table_name }}-delete-dialogs">
    {% for resource_id, form in resource_deletion_forms.items %}
    {% with resource_id_str=resource_id|stringformat:'s' %}
    {% with dialog_id='delete-'|add:table_name|add:resource_id_str|add:'-dialog' %}
    {% include 'resource_management/dialogs/delete_dialog.html' %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
</div> {% endcomment %}
{% comment %} <div id="extra-dialogs">
    {% with dialog_id='new-dialog' form=new_resource_form dialog_extra_classes='col-lg-6' %}
    {% include 'resource_management/dialogs/new_dialog.html' %}
    {% endwith %}
    {% for resource_id, form in resource_update_forms.items %}
    {% with resource_id_str=resource_id|stringformat:'s' %}
    {% with dialog_id='update-'|add:table_name|add:resource_id_str|add:'-dialog' dialog_extra_classes='update-dialog col-lg-6' %}
    {% include 'resource_management/dialogs/update_dialog.html' %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
</div> {% endcomment %}
{% endfor %}
{% endblock content %}
